<form [formGroup]="form" class="mt-5 flex flex-col gap-5">
  <section class="grid grid-cols-12 gap-4">
    <app-global-input class="col-span-12 md:col-span-6" name="name" label="Nombre de la empresa"
      [control]="form.controls.name" placeholder="Ej. Empresa S.A." error="Ingresa al menos 5 caracteres" />

    <app-global-input class="col-span-12 md:col-span-6" name="company_email" label="Correo de la empresa"
      [control]="form.controls.email" type="email" placeholder="contacto@empresa.com"
      hint="Aquí llegarán las notificaciones de la cuenta" error="Ingresa un correo válido" />

    <app-global-input class="col-span-12 md:col-span-6" name="rif" label="RIF" [control]="form.controls.rif"
      placeholder="Ej. J-1234567897" hint="Opcional" />

    <app-global-input class="col-span-12 md:col-span-6" name="domain" label="Dominio"
      [control]="form.controls.domain" placeholder="empresa.com"
      hint="Con este dominio se identifica tu espacio en Pásalo" error="El dominio es requerido" />
  </section>
</form>
