<div class="flex flex-col gap-1.5">
  <label [for]="name" class="text-sm font-medium text-gray-600" [class.text-red-600]="isInvalid">
    {{ label }}
  </label>

  <div class="grid grid-cols-12 gap-3">
    <nb-select class="col-span-3 select-compact" fullWidth [formControl]="prefixControl" scrollStrategy="reposition">
      @for (p of prefixes; track p) {
      <nb-option [value]="p">{{ p }}</nb-option>
      }
    </nb-select>

    <input nbInput style="font-weight: 500;" fullWidth class="col-span-9" [id]="name" [name]="name" type="text"
      inputmode="numeric" [formControl]="numberControl" (blur)="onBlur()" [status]="status" placeholder="12345678" />
  </div>

  <small class="text-xs text-gray-500" [class.text-red-600]="isInvalid">
    {{ message }}
  </small>
</div>
